.attribution {
  font-size: 15px;
  text-align: center;
  font-family: "Outfit";
  color: var(--color-Stone-600);
}
.attribution a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-Rose-800);
}
