* {
  margin: 0;
}
body {
  background-color: var(--color-Stone-100);
}
::selection {
  color: var(--color-White);
  background-color: var(--color-Stone-600);
}
hr {
  border: 1px solid var(--color-Stone-150);
  margin: 2rem 0;
}
h2 {
  font-family: "Young Serif";
  color: var(--color-Brown-800);
  font-weight: normal;
}
ul,
ol {
  padding: 1rem 0 0 1.5rem;
}
li {
  padding: 0 0 1rem 1.25rem;
}
p {
  margin: 2rem 0;
}
span {
  font-weight: 600;
}
