.container {
  margin: 10vw auto;
  width: 50vw;
  background-color: var(--color-White);
  color: var(--color-Stone-600);
  border-radius: 25px;
  padding: 40px;
  font-family: "Outfit";
  line-height: 1.5;
}
.container > img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 0 1px black;
}
.container > img + h1 {
  color: var(--color-Stone-900);
  font-family: "Young Serif";
  font-weight: normal;
  font-size: 1.8rem;
}
.container > .preparation-time {
  margin-bottom: 2rem;
}
.container > .preparation-time > h3 {
  padding-left: 2rem;
}
.container > .preparation-time > h3 + ul {
  padding-left: 3.5rem;
}
.container > .preparation-time > h3,
.container > .preparation-time > h3 + ul > li::marker {
  color: var(--color-Rose-800);
}
.container > .ingredients > h2 + ul > li::marker,
.container > .instructions > h2 + ol > li::marker {
  color: var(--color-Brown-800);
}
.container > .instructions > h2 + ol > li::marker {
  font-weight: 700;
}
.container > .nutrition > h2 + p + table {
  width: 100%;
  border-spacing: 0;
}
.container > .nutrition > h2 + p + table tr td {
  border-bottom: 1px solid var(--color-Stone-150);
  padding: 1rem 2rem;
}
.container > .nutrition > h2 + p + table tr td:last-of-type {
  font-weight: 600;
  color: var(--color-Brown-800);
}
.container > .nutrition > h2 + p + table tr:last-of-type td {
  border: 0;
  padding-bottom: 0;
}
