* {
  margin: 0;
}
body {
  background-color: var(--color-Stone-100);
}
hr {
  border: 1px solid var(--color-Stone-150);
  margin: 35px 0;
}
.container {
  margin: 10vw auto;
  width: 50vw;
  background-color: var(--color-White);
  color: var(--color-Stone-600);
  border-radius: 25px;
  padding: 40px;
  font-family: "Outfit";
}
.container > img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 1px black;
}
.container > img + h1 {
  color: var(--color-Stone-900);
  font-family: "Young Serif";
  font-weight: normal;
  font-size: 1.8rem;
  margin-bottom: 35px;
}
.container > img + h1 + p {
  line-height: 1.8;
  margin-bottom: 60px;
}
.container > .preparation-time {
  line-height: 2;
}
.container > .preparation-time > h3 {
  text-indent: 30px;
  color: var(--color-Rose-800);
}
.container > .preparation-time > h3 + ul {
  padding-left: 55px;
  margin-bottom: 60px;
}
.container > .preparation-time > h3 + ul > li::marker {
  color: var(--color-Rose-800);
}
.container > .preparation-time > h3 + ul > li > span {
  font-weight: 600;
  margin-left: 20px;
}
.container > .ingredients {
  line-height: 2;
}
.container > .ingredients > h2 {
  font-family: "Young Serif";
  color: var(--color-Brown-800);
  font-weight: normal;
}
.container > .ingredients > h2 + ul {
  padding-left: 20px;
}
.container > .ingredients > h2 + ul > li {
  padding-left: 20px;
}
.container > .ingredients > h2 + ul > li::marker {
  color: var(--color-Brown-800);
}
.container > .instructions {
  line-height: 1.8;
}
.container > .instructions > h2 {
  font-family: "Young Serif";
  color: var(--color-Brown-800);
  font-weight: normal;
}
.container > .instructions > h2 + ol {
  padding: 15px 25px 0;
}
.container > .instructions > h2 + ol > li::marker {
  color: var(--color-Brown-800);
  font-weight: 700;
}
.container > .instructions > h2 + ol > li {
  padding: 0 0 10px 15px;
}
.container > .instructions > h2 + ol > li > span {
  font-weight: 600;
}
.container > .nutrition > h2 {
  font-family: "Young Serif";
  color: var(--color-Brown-800);
  font-weight: normal;
  margin-bottom: 30px;
}
.container > .nutrition > h2 + p {
  margin-bottom: 30px;
}
.container > .nutrition > h2 + p + table {
  width: 100%;
  border-spacing: 0;
}
.container > .nutrition > h2 + p + table tr td {
  border-bottom: 1px solid var(--color-Stone-150);
  padding: 15px 30px;
}
.container > .nutrition > h2 + p + table tr td:last-of-type {
  font-weight: 600;
  color: var(--color-Brown-800);
}
.container > .nutrition > h2 + p + table tr:last-of-type td {
  border: 0;
  padding-bottom: 0;
}
